#network-panel {
  position: absolute;
  height: 65%;
  width: 65%;
  background: #303243;
  .view {
    width: 100%;
    height: 95%;
    display: flex;
    position: relative;
  }
  .view-svg {
    width: 100%;
    height: 100%;
  }
}
